<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body class="login-body">
 <div class="login-container">
  <h1 class="login-title">Register</h1>
  <form action="/register" method="POST" class="login-form">
    <div>
      <label class="login-label" for="username">Username:</label>
      <input class="login-input" type="text" id="username" name="username" required>
    </div>
    <div>
      <label class="login-label" for="password">Password:</label>
      <input class="login-input" type="password" id="password" name="password" required>
    </div>
    <button class="login-button" type="submit">Register</button>
  </form>
  <p>Already have an account? <br><br><br><a href="/login" class="register" >Login here</a></p>
  </div>
</body>
</html>
